# VirusTotal API key is required to scan files. Get a free one at https://www.virustotal.com
VT_API_KEY=your_virustotal_api_key_here

# Slack Webhook URL to send alerts.
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL

# Optional: MalShare API Key for checking MalShare Reports. Get a free one at https://malshare.com/register.php
MALSHARE_API_KEY=your_malshare_api_key_here
